@charset "utf-8";
.parrafo {
	font-family: "Times New Roman", Times, serif;
	font-size: 24px;
	color: #999;
	border: 2px solid #0FF;
}
.ParIzq {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	color: #00F;
}
.div {
	background-color: #CCC;
	height: 20px;
	width: 80px;
	border: 2px dotted #09F;
}
